body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #444;
    padding: 0 10px;

}

header h1::before {
    content: ''; /* Add content before the heading */
    display: inline-block;
    width: 32px; /* Adjust the width of the icon */
    height: 32px; /* Adjust the height of the icon */
    background: url('https://cdn-icons-png.flaticon.com/512/6025/6025628.png') no-repeat; /* Use the favicon as background */
    background-size: cover; /* Cover the entire icon area */
}

header h1::after {
    content: ''; /* Add content before the heading */
    display: inline-block;
    width: 32px; /* Adjust the width of the icon */
    height: 32px; /* Adjust the height of the icon */
    background: url('https://cdn-icons-png.flaticon.com/512/6025/6025628.png') no-repeat; /* Use the favicon as background */
    background-size: cover; /* Cover the entire icon area */
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}